<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music Management</h3>
<p>
    <a th:href="@{/music/create}">
        Add new music
    </a>
</p>
<table id="music">
    <thead>
    <tr>
        <th>Name</th>
        <th>Singer</th>
        <th>Type</th>
        <th>Sound</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="m : ${music}">
        <td th:text="${m.name}"></td>
        <td th:text="${m.singer}"></td>
        <td th:text="${m.type.name}"></td>
        <td>
            <audio th:src="@{'/sound/' + ${m.source}}"></audio>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>