<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<p>
    <a href="/blog">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/blog/edit}" th:object="${blog}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" th:field="*{image}"/></td>
        </tr>
        <tr>
            <div>
                <td><label for="category">Category</label></td>
                <td>
                    <select id="category" th:field="*{category}">
                        <option th:each="category: ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </td>
            </div>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>